<%- include("partials/header.ejs") %>
  <div>
    <button class="homeBtn" id="homeBtn1" onclick="window.location='/quizzingScreen';">Host a Game</button>
    <br>
    <button class="homeBtn" id="homeBtn2" onclick="window.location='/quizzingScreen';">Join a Game</button>
  </div>
<%- include("partials/footer.ejs") %>
